In [2]:
import pandas as pd
exam = pd.read_csv('./data/exam.csv')
exam.groupby('nclass').agg(mean_math = ('math', 'mean'))

        mean_math
nclass
1           46.25
2           61.25
3           45.00
4           56.75
5           78.00

In [6]:
# nclass별 모든 컬럼의 평균
exam.groupby('nclass')[['math']].mean()

         math
nclass
1       46.25
2       61.25
3       45.00
4       56.75
5       78.00

In [22]:
exam.groupby('nclass').agg(mean_math=('math','mean')).loc[3]

mean_math    45.0
Name: 3, dtype: float64