In [1]:
from pymongo import MongoClient
### 문제 1. 데이터 추가 (Insert)

# 1. 다음 데이터를`university` 데이터베이스내 `students` 컬렉션에 삽입하시오.

client = MongoClient("mongodb://localhost:27017") 
db = client.university 
students = db.students 

students.insert_many([
    {"name": "김철수", "gender": "M", "age": 22, "department": "기계공학과", "scores": {"math": 88, "english": 76, "science": 91}},
    {"name": "이영희", "gender": "F", "age": 21, "department": "컴퓨터공학과", "scores": {"math": 92, "english": 89, "science": 85}},
    {"name": "박민준", "gender": "M", "age": 23, "department": "화학과", "scores": {"math": 75, "english": 80, "science": 79}},
])

InsertManyResult([ObjectId('684fbf6c0363d915e66dbb17'), ObjectId('684fbf6c0363d915e66dbb18'), ObjectId('684fbf6c0363d915e66dbb19')], acknowledged=True)

In [6]:
### 문제 2. 조건 검색 (Find)

# 1. 수학 점수가 85점 이상인 학생의 이름과 수학 점수를 조회하시오.

# 수학 점수 85점 이상인 학생의 이름과 수학 점수 조회
result = students.find({"scores.math": {"$gte": 85}}, {"name": 1, "scores.math": 1})

for i in result:
    print(i)

{'_id': ObjectId('684fbf6c0363d915e66dbb17'), 'name': '김철수', 'scores': {'math': 88}}
{'_id': ObjectId('684fbf6c0363d915e66dbb18'), 'name': '이영희', 'scores': {'math': 92}}

In [11]:
### 문제 3. 데이터 삭제 (Delete)

# 1. 나이가 22세 이상인 학생들을 삭제하시오.

students.delete_many({"age":{"$gte":22}})

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'university'), 'students')

In [20]:
### 문제 4. 그룹화 및 통계 (Aggregation)

# 1. 학과별(`department`)로 학생 수를 구하시오.
# 2. 학과별로 수학 점수의 평균을 계산하시오.

import pandas as pd

test1 = [
    {"$group": {"_id": "$department", "count": {"$sum": 1}}}
]
df1 = pd.DataFrame(list(students.aggregate(test1)))
print(df1)

test2 = [
    {"$group": {"_id": "$department", "avg_math": {"$avg": "$scores.math"}}}
]
df2 = pd.DataFrame(list(students.aggregate(test2)))
print(df2)

      _id  count
0  컴퓨터공학과      1
      _id  avg_math
0  컴퓨터공학과      92.0